.re {
    padding: 2rem;
    padding-top: 1.5rem;
    flex: auto;
    background-image: url("../../assets/bgim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-left: 2%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

form {
    position: relative;
    width: 30rem;
    background: #57bd84;
    border-radius: 0.7rem;
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
}

input,
button {
    height: 2.5rem;
    font-family: "Lato", sans-serif;
    border: 0;
    color: #2f2f2f;
    font-size: 1.2rem;
}

input[type="search"] {
    outline: 0;
    width: 100%;
    background: #fff;
    padding: 0 1.6rem;
    border-radius: 0.7rem;
    appearance: none;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    font-weight: bold;
    background: #57bd84;
    border-radius: 0 0.7rem 0.7rem 0;
}

button:hover {
    cursor: pointer;
}

input:not(:placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 6rem);

    + button {
        display: block;
    }
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.main-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.output-display {
    display: flex;
    text-align: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 20px;
    height: 13vh;
    margin: 15px;
}

h2 {
    text-align: center;
    margin: 50px;
}

/* -----------------------------button css--------------------------------------- */

.view-button {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding-left: 90%;
}

.btn-re {
    line-height: 50px;
    height: 100px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.5s;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.btn-re::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    transition: all 0.3s;
}

.btn-re:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-re::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
    border-radius: 7px;
}

.btn-re:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

/*---------------------------------------------*/

.sr-re {
    display: flex;
    position: relative;
}

.title-re {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.summary {
    text-align: left;
    max-height: 0px;
    overflow: hidden;
}

.show-summary {
    max-height: 500px;
    padding: 30px;
    transition: max-height 1s;
}